body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1b1c4d;
    /* Dark blue background */
    padding: 10px 20px;
    flex-wrap: wrap;
    border-radius: 150px;

}

.navbar img {
    width: 50px;
    height: 50px;
    z-index: 2;
    border-radius: 150px;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 8px 16px;
    font-size: 18px;
}

.navbar .menu {
    display: flex;
    flex-wrap: wrap;
}

.navbar .menu a {
    margin: 0 10px;
}

.navbar .social-icons {
    display: flex;
    flex-wrap: wrap;
}

.navbar .social-icons a {
    margin: 0 5px;
}

.navbar .social-icons img {
    width: 50px;
    height: 50px;
    z-index: 2;
}

.toggle-button {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.toggle-button span {
    height: 3px;
    width: 25px;
    background-color: white;
    margin: 4px 0;
    border-radius: 2px;
}

@media (max-width: 768px) {
    .navbar {
        flex-direction: inherit;
        align-items: flex-start;
    }

    .navbar .menu,
    .navbar .social-icons {
        width: 100%;
        justify-content: center;
        display: none;
        /* Hidden by default */
        flex-direction: column;
        align-items: center;
    }

    .navbar .menu a,
    .navbar .social-icons a {
        margin: 10px 0;
    }

    .toggle-button {
        display: flex;
    }
}

@media (max-width: 576px) {
    .navbar a {
        font-size: 14px;
        padding: 4px 8px;
    }

    .navbar .social-icons img {
        width: 20px;
        height: 20px;
    }
}


/* ----------------------------------------------------------------------------------------------------- */



.hero {
    background: url('image/Backgraound.jpg') no-repeat center center/cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    position: relative;
    padding: 50px 0;
    text-align: center;
}

.hero-content h1 {
    font-size: 3rem;
    font-weight: bold;
}

@media (max-width: 768px) {
    .hero-content h1 {
        font-size: 2rem;
    }
}


.hero .hero-content {
    position: relative;
}








/* ----------------------------------------------------------------------------------------------------- */

.stats-section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
    margin-top: -40vh;

}

.stat-item {
    z-index: 1;
    background-color: #1b1c4d;
    /* Dark blue background */
    color: white;
    text-align: center;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.stat-item h2 {
    margin: 0;
    font-size: 36px;
}

.stat-item p {
    margin: 10px 0 0;
    font-size: 18px;
}

@media (max-width: 768px) {
    .stat-item h2 {
        font-size: 24px;
    }

    .stat-item p {
        font-size: 16px;
    }

}

@media (max-width: 576px) {
    .stat-item h2 {
        font-size: 20px;
    }

    .stat-item p {
        font-size: 14px;
    }

}

/* ----------------------------------------------------------------------------------------------------- */


.main-about-container {
    height: auto;
    max-width: 1200px;
    margin: 100px;
    padding: 20px;


}

.about-section {
    border-radius: 10px;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
    background: url('image/about.jpg') no-repeat center center/cover;

}

.about-section h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.about-section p {
    line-height: 1.6;
    color: #666;
}

.about-section h2 {
    color: #333;
    margin-top: 40px;
    text-align: left;
}

.contact-info,
.social-links {
    text-align: center;
    margin-top: 40px;
}

.social-links a {
    margin: 0 10px;
    text-decoration: none;
    color: #007BFF;
}

@media (max-width: 768px) {
    .about-section {
        padding: 20px;
    }

    .about-section h1 {
        font-size: 24px;
    }

    .about-section p {
        font-size: 14px;
    }

    .main-about-container {
        margin: 10px;
    }
}

@media (max-width: 480px) {
    .about-section {
        padding: 10px;
    }

    .about-section h1 {
        font-size: 20px;
    }

    .about-section p {
        font-size: 12px;
    }

    .main-about-container {
        margin: 0px;
    }

}

/* ----------------------------------------------------------------------------------- */

.categories-container {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    padding: 10px;
    background-color: #f1f1f1;
}

.category {
    display: inline-block;
    padding: 10px 20px;
    margin: 0 5px;
    border: 2px solid red;
    border-radius: 5px;
    background-color: #fff;
    cursor: pointer;
}

.products-container {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    padding: 20px;
}

.product {
    display: inline-block;
    width: calc(100% - 20px);
    /* Adjust for padding */
    max-width: 200px;
    margin: 0 10px;
    border-radius: 10px;
    background-color: #d9d9d9;
    text-align: center;
    padding: 10px;
}

.product img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.product-name {
    margin-top: 10px;
    font-weight: bold;
}

/* Responsive Design */
@media (max-width: 600px) {
    .category {
        padding: 8px 15px;
        margin: 0 3px;
    }

    .products-container {
        padding: 10px;
    }

    .product {
        width: calc(100% - 20px);
        max-width: 150px;
        padding: 5px;
    }
}

@media (min-width: 601px) and (max-width: 1024px) {
    .product {
        max-width: 180px;
    }
}


/* ----------------------------------------------------------------------------- */
h2 {
    text-align: center;
    margin: 20px 0;
}


.scroll-container {
    display: flex;
    align-items: center;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    height: 40vh;
}

.scroll-content {

    display: flex;
    animation: scroll 20s linear infinite;
}

.scroll-content img {
    width: 100%;
    height: 100px;
    /* Adjust the height as needed */
    margin-right: 10px;
    /* Space between images */
}

@keyframes scroll {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}

/* --------------------------------------------------------------------------------------- */
/* footer */
.footer {
    word-spacing: 1.15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    background-color: #141946;
}

.footer .column {
    flex: 1;
    min-width: 200px;
    margin: 10px;
    color: #fff;
    text-align: center;
    justify-content: center;


}

.footer .column h2 {
    color: #b0b03b;
    margin-bottom: 15px;
}

.footer .column ul {
    list-style: none;
    padding: 0;
}

.footer .column ul li {
    margin-bottom: 10px;
}

.footer .column ul li a {
    color: #ffffff;
    text-decoration: none;
}

.footer .column ul li a:hover {
    text-decoration: underline;
}

.footer .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.footer .logo img {
    width: 100px;
    height: auto;

}

.footer .description {
    font-size: 16px;
    line-height: 1.5;
    color: #fff;
}

.footer .copyright {
    text-align: center;
    width: 100%;
    margin-top: 20px;
    font-size: 14px;
    color: #fff;

}
@media (max-width: 600px){





}

/* -----------------------------------------------------------------------------------  */




/* frequency  */


.faq {
    padding: 20px;
    text-align: center;
}

.faq h1 {
    font-size: 2em;
    color: #3d9bd9;
}

.faq-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 1200px;
    margin: 0 auto;
}

.faq-item {
    background: linear-gradient(to right, #4facfe, #00f2fe);
    border-radius: 5px;
    margin: 10px;
    flex: 1 1 calc(50% - 20px);
    max-width: calc(50% - 20px);
    min-width: 300px;
    cursor: pointer;
    transition: transform 0.3s;
}

.faq-item:hover {
    transform: scale(1.02);
}

.faq-question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    font-size: 1.2em;
    font-weight: bold;
}

.faq-answer {
    display: none;
    padding: 15px;
    border-top: 1px solid #ddd;
    background-color: #f9f9f9;
}

.arrow {
    font-size: 1.5em;
    transition: transform 0.3s;
}

.faq-item.active .arrow {
    transform: rotate(180deg);
}

.faq-item.active .faq-answer {
    display: block;
}

@media (max-width: 768px) {
    .faq-item {
        flex: 1 1 100%;
        max-width: 100%;
    }
}


/* ---------------------------------------------------------------------------- */
